/* ========== Google Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/* ========== Variables Dark theme ========== */
body {
    background-color: #191A1C;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background: url(img/Portfolio\ final\ \(preto\).png);
    height: 510vh;
}

/* ========== Button Dark/light ========== */
.nav__btns {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.change-theme {
    font-size: 1.75rem;
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
}

.change-theme:hover {
    color: #682BD7;
}

/* ========== Base ========== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* ========== Base ========== */
.container  {
    max-width: 768rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section { 
    padding: 1rem 4rem;
}

.section-title {
    font-size: 4rem;
    color: #682BD7;
}

.section-subtitle {
    display: block;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1.25rem;
}

.section-title, .section-subtitle {
    text-align: center;
}
/* ================== NAV ================== */
.logo-color {
    color: #682BD7;
}

.nav__logo {
    color: #fff;
    display:  flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5.5rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 36px;
}

.nav-link {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.nav-item a {
    color: #fff;
    position: relative;
}

.nav-item a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #682BD7;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-item a:hover::after {
    width: 100%;
    left: 0;
}
/* ================== HOME ================== */
.home__container {
    gap: 1rem;
}

.home-data {
    align-items: center;
    text-align: left;
    padding: 110px;
    position: relative;
    top: 8rem;
}

.home-title {
    font-weight: 600;
    font-size: 3rem;
}

.home-subtitle {
    color: #682BD7;
    font-size: 3rem;
    letter-spacing: 10px;
}

.home-description {
    width: 40rem;
    padding-top: 1.5rem;
    font-weight: 300;
    font-size: 1.25rem;
    color: #CBCACA;
}

.button-flex {
    color: #fff;
    position: relative;
    top: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.button {
    border: none;
    padding: 30px 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow .3s;
    background-image: linear-gradient(90deg, rgba(68,30,139,1) 0%, rgba(104,43,215,1) 65%);
}

.button:hover {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4); 
}

.home {
    justify-content: space-between;
    display: flex;
}

.profile {
    padding: 8rem;
}

.profile-pic img {
    width: 20.5rem;
    height: 20.5rem;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    right: 12.7rem;
    top: 3.5rem;
    border: 12px solid #191A1C;
    outline: 3px solid #682BD7;
}

.icons-contact {
    position: relative;
    top: 7rem;
    right: 13rem;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 1px 3.5rem;
}

.icons a {
    color: #fff;
    font-size: 2.5rem;
    margin-left: 1.25rem;
    position: relative;
}

.icons-btn {
    color: #fff;
    font-weight: 700;
}

.icons {
    border: none;
    border-radius: 50px;
    background-color: rgb(52, 52, 52, 60%);
}

.icons a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 4px;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #682BD7;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.icons a:hover::after {
    width: 100%;
    left: 0;
}

/* ================== ABOUT ================== */
.about {
    position: relative;
    top: 30rem;
}

.about-description {
    font-weight: 700;
    font-size: 1.2rem;
    width: 58rem;
    word-break: break-word;
    margin-top: 2rem;
    letter-spacing: 2px;
}

.about-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bg p {
    padding: 6rem 2.5rem;
    border: none;
    background-image: linear-gradient(90deg, rgba(31,32,34,1) 0%, rgba(31,32,34,0) 60%);
    border-radius: 50px;
}

/* ================== ABOUT SKILLS ================== */
.skills {
    display: grid;
    height: 100%;
    place-items: center;
}

.skills-bar {
    width: 900px;
    padding: 25px 30px;
}

.skills-bar .bar {
    margin: 40px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info {
    margin-bottom: .5rem;
}

.skills-bar .bar .info span {
    font-size: 1.5rem;
    font-weight: 700;
}

.skills-bar .bar .progress-bar {
    position: relative;
    height: 8px;
    width: 100%;
    background: #1F2022;
    border-radius: .25rem;
}

.bar .progress-bar span {
    height: 100%;
    width: 80%;
    background: #682BD7;
    position: absolute;
    border-radius: .25rem;
}

.progress-bar.html-css span {
    width: 90%;
}

.progress-bar.javascript span{
    width: 80%;
}

.progress-bar.mysql span {
    width: 95%;
}

.progress-bar.react span {
    width: 75%;
}

.bar .progress-bar span::before {
    position: absolute;
    content: '';
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #682BD7;
}

.bar .progress-bar span::after {
    position: absolute;
    right: 0;
    top: -38px;
    color: #919296;
    font-weight: 700;
    font-size: 1.5rem;
}

.progress-bar.html-css span::after {
    content: '90%';
}

.progress-bar.javascript span::after {
    content: '80%';
}

.progress-bar.mysql span::after {
    content: '95%';
}

.progress-bar.react span::after {
    content: '75%';
}

/* ================== SERVICES ================== */
.services {
    position: relative;
    top: 35rem;
}