/* ========== Google Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

/* ========== Variables Dark theme ========== */
body {
    background-color: #191A1C;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background: url(img/Portfolio\ final\ \(preto\).png);
    background-size: cover;
    height: 510vh;
    overflow-x: hidden;
}

.light {
    background: url(img/Portfolio\ final\ \(branco\).png);
    color: #191A1C;
}

.light a {
    color: #191A1C !important;
}

.light i {
    color: #191A1C;
}

.light p {
    color: #353535;
}

.light .icons {
    background-color: #DADADA;
}

.light .about-bg p {
    background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(255,255,255,0) 100%);
}

.light .profile-pic img {
    border: 12px solid #FAFAF7;
}

.light .button-flex {
    color: #fff !important;
}

.light .button:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.light .portfolio-image {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
}

.light .portfolio-image2 {
    box-shadow: 0 0px 10px rgba(0, 0, 0, .5);
}

.light .textarea {
    color: #191A1C;
}

.light textarea {
    color: #191A1C;
}

.light .uil-sun {
    display: none;
}

.light .uil-moon {
    display: block;
    visibility: initial;
}

/* ========== Button Dark/light ========== */
.nav__btns {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.change-theme {
    font-size: 1.75rem;
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
}

.change-theme:hover {
    color: #682BD7;
}

.uil-moon {
    position: relative;
    right: 2.6rem;
    visibility: hidden;
}

/* ========== Base document ========== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html:root {
    --swiper-theme-color: #682BD7;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* ========== Base ========== */
.container  {
    max-width: 768rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section { 
    padding: 1rem 4rem;
}

.section-title {
    font-size: 4rem;
    color: #682BD7;
}

.section-subtitle {
    display: block;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1.25rem;
}

.section-title, .section-subtitle {
    text-align: center;
}
/* ================== NAV ================== */
.logo-color {
    color: #682BD7;
}

.nav__logo {
    color: #fff;
    display:  flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5.5rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 36px;
}

.nav-link {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.nav-item a {
    color: #fff;
    position: relative;
    transition: all 1.5s;
}

.nav-item a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #682BD7;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-item a:hover::after {
    width: 100%;
    left: 0;
}

.mobile-menu {
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 10;
}
/* ================== SHOW/HIDDEN SCROLL ================== */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.hiddenx {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(7%);
    transition: all 2.5s;
}

.hiddens {
    opacity: 0;
    filter: blur(5px);
    transform: scale(100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* ================== HOME ================== */
.home__container {
    gap: 1rem;
}

.home-data {
    align-items: center;
    text-align: left;
    padding: 110px;
    position: relative;
    top: 8rem;
}

.home-title {
    font-weight: 600;
    font-size: 3rem;
}
.home-subtitle {
    color: #682BD7;
    font-size: 3rem;
    letter-spacing: 10px;
}

.text-wrapper .letter {
    display: inline-block;
  }

.home-subtitle .letter2 {
    display: inline-block;
}

.home-description .letter3 {
    display: inline-block;
}


.home-description {
    width: 41rem;
    padding-top: 1.5rem;
    font-weight: 300;
    font-size: 1.25rem;
    color: #CBCACA;
}

.button-flex {
    color: #fff;
    position: relative;
    top: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.button {
    border: none;
    padding: 30px 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow .3s;
    background-image: linear-gradient(90deg, rgba(68,30,139,1) 0%, rgba(104,43,215,1) 65%);
}

.button:hover {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4); 
}

.home {
    justify-content: space-between;
    display: flex;
}

.profile {
    padding: 8rem;
}

.profile-pic img {
    width: 20.5rem;
    height: 20.5rem;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    right: 6rem;
    top: 3.5rem;
    border: 12px solid #191A1C;
    outline: 3px solid #682BD7;
}

.icons-contact {
    position: relative;
    top: 7rem;
    right: 6rem;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 1px 3.5rem;
}

.icons a {
    color: #fff;
    font-size: 2.5rem;
    margin-left: 1.25rem;
    position: relative;
}

.icons-btn {
    color: #fff;
    font-weight: 700;
}

.icons {
    border: none;
    border-radius: 50px;
    background-color: rgb(52, 52, 52, 60%);
}

.icons a::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 4px;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #682BD7;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.icons a:hover::after {
    width: 100%;
    left: 0;
}

/* ================== ABOUT ================== */
.about {
    position: relative;
    top: 30rem;
}

.about-description {
    font-weight: 700;
    font-size: 1.2rem;
    width: 58rem;
    word-break: break-word;
    margin-top: 2rem;
    letter-spacing: 2px;
}

.about-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-bg p {
    padding: 4.5rem 2.5rem;
    border: none;
    background-image: linear-gradient(90deg, rgba(31,32,34,1) 0%, rgba(31,32,34,0) 60%);
    border-radius: 50px;
}

/* ================== ABOUT SKILLS ================== */
.skills {
    display: grid;
    height: 100%;
    place-items: center;
}

.skills-bar {
    width: 900px;
    padding: 25px 30px;
}

.skills-bar .bar {
    margin: 40px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info {
    margin-bottom: .5rem;
}

.skills-bar .bar .info span {
    font-size: 1.5rem;
    font-weight: 700;
}

.skills-bar .bar .progress-bar {
    position: relative;
    height: 8px;
    width: 100%;
    background: #1F2022;
    border-radius: .25rem;
}

.bar .progress-bar span {
    height: 100%;
    width: 80%;
    background: #682BD7;
    position: absolute;
    border-radius: .25rem;
}

.progress-bar.html-css span {
    width: 90%;
}

.progress-bar.javascript span{
    width: 80%;
}

.progress-bar.mysql span {
    width: 95%;
}

.progress-bar.react span {
    width: 75%;
}

.bar .progress-bar span::before {
    position: absolute;
    content: '';
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #682BD7;
}

.bar .progress-bar span::after {
    position: absolute;
    right: 0;
    top: -38px;
    color: #919296;
    font-weight: 700;
    font-size: 1.5rem;
}

.progress-bar.html-css span::after {
    content: '90%';
}

.progress-bar.javascript span::after {
    content: '80%';
}

.progress-bar.mysql span::after {
    content: '95%';
}

.progress-bar.react span::after {
    content: '75%';
}

/* ================== SERVICES ================== */
.services {
    position: relative;
    top: 37rem;
}

.services-container {
    display: flex;
    justify-content: center;
    margin-top: 5.5rem;
}

.services-content {
    position: relative;
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    width: 17rem;
}

.services-icon {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 2.25rem;
    text-align: center;
}

.services-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.services-subtitle {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

/* ================== PORTFOLIO ================== */
.portfolio {
    position: relative;
    top: 50rem;
}

.portfolio-container {
    overflow: initial;
    margin-top: 10rem;
}

.portfolio-content {
    padding: 0 10rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.portfolio-image {
    width: 555px;
    height: 329px;
    border-radius: 30px;
    justify-self: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.portfolio-image2 {
    width: 555px;
    height: 329px;
    border-radius: 30px;
    justify-self: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, .6);
}

.portfolio-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.portfolio-description {
    font-size: 1.5rem;
    font-weight: 300;
    color: #BEBEBE;
    width: 33rem;
    letter-spacing: 1px;
}

.portfolio-button {
    padding: 20px 20px;
    font-size: 1.25rem;
}

.swiper {
    height: 390px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '' !important;
}

.swiper-portfolio-icon {
    font-size: 5rem;
    color: #682BD7;
}

.swiper-slider {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    background: #919296 !important;
    width: 20px !important;
    height: 20px !important;
}

.swiper-pagination-bullet-active {
    background: #682BD7 !important;
}

.swiper-horizontal > .swiper-pagination-bullets {
    bottom: 0px !important;
}

.swiper-button-prev {
    left: 10rem !important;
}

.swiper-button-next {
    right: 15.5rem !important;
}

/* ================== CONTACT ================== */
.contact {
    position: relative;
    top: 61.3rem;
}

.contact-subtitle {
    font-size: 1rem;
    letter-spacing: 1px;
}

.contact-container {
    row-gap: 3rem;
}

.contact-content {
    border-radius: .5rem;
    padding: 3rem 1rem .25rem;
}

.contact-label {
    font-size: 2rem;
    font-weight: 700;
}

.contact-input {
    width: 100%;
    outline: none;
    padding: .5rem 0;
    color: #fff;
    position: relative;
    background: transparent;
    border-bottom: 3px solid #6A6A6A;
    letter-spacing: 0;
    font-weight: 700;
}

.contact-input {
    font-size: 1.2rem;
}

.contact-form {
    width: 700px;
    justify-self: center;
    margin-top: 5rem;
}

.contact-inputs {
    display: flex;
}

textarea {
    height: 4.2rem;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
}

.textarea {
    border: 0;
    border-bottom: 3px solid #6A6A6A;
    line-height: 1.5rem;
    background: transparent;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
}

.contact-button {
    position: relative;
    padding: 15px 35px;
    top: .5rem;
    justify-self: center;
}

.contact-icon {
    font-size: 1.7rem;
}

/* ================== MEDIA QUERIES ================== */
@media screen and (max-width: 1480px) {
    .home-title,
    .home-subtitle {
        font-size: 2.5rem;
    }
    .profile {
        padding: 0;
        margin-top: 10rem;
    }
    .profile-pic img{
        width: 18.5rem;
        height: 18.5rem;
    }
    .icons-contact {
        top: 6rem;
        right: 12.5rem;
        padding: 1px 2.5rem;
    }
    .button {
        padding: 20px 30px;
    }
    .about-description {
        font-size: 1.1rem;
    }
    .portfolio-image,
    .portfolio-image2 {
        width: 415px;
        height: 229px;
    }
    .portfolio-content {
        gap: 2rem;
    }
    .swiper-button-prev {
        left: 4rem !important;
    }
    .swiper-button-next {
        right: 4rem !important;
    }
    .contact-button {
        top: -.5rem;
    }
}

@media screen and (max-width: 1100px) {
    body {
        background-size: cover;
    }
    .nav {
        padding: 3rem 1rem;
    }
    .nav__logo {
        white-space: nowrap;
    }
    .logo-color {
        padding: 5px;
    }
    .nav-item {
        margin: 0 20px;
    }
    .home-data {
        padding: 30px;
        top: 9rem;
    }
    .home-title,
    .home-subtitle {
        font-size: 2.2rem;
    }
    .home-subtitle {
        letter-spacing: 7px;
    }
    .home-description {
        width: 28rem;
    }
    .profile {
        margin-top: 10rem;
        margin-right: 0rem;
        padding: 1rem;
    }
    .profile-pic img {
        right: 0;
        top: 0;
    }
    .icons-contact {
        right: 0;
        top: 3rem;
    }
    .skills {
        justify-content: center;
    }
    .portfolio {
        padding: 1rem 3rem;
    }
    .portfolio-content {
        padding: 0 1rem;
    }
    .portfolio-title {
        margin-bottom: .7rem;
    }
    .portfolio-description {
        width: 23rem;
        font-size: 1.2rem;
    }
    .portfolio-image {
        width: 350px;
        height: 200px;
        margin-top: 1rem;
    }
    .portfolio-image2 {
        width: 350px;
        height: 200px;
        margin-top: 2rem;
    }
    .swiper-button-next {
        right: 1px !important;
    }
    .swiper-button-prev {
        left: 0px !important;
    }
    .contact-label {
        font-size: 1.7rem;
    }
    .contact-input {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        background-size: cover;
    }
    .light body {
        overflow-x: hidden;
        background-size: cover;
    }
    .section {
        padding: 1rem 1rem;
    }
    .light .nav-list {
        background: #DADADA;
    }
    .nav-list {
        display: none;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: #1F2022;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .change-theme {
        z-index: 10;
    }
    .uil-moon {
        right: 1rem;
    }
    .home-title,
    .home-subtitle {
        font-size: 1.6rem;
    }
    .home-description {
        width: 22rem;
    }
    .profile-pic img {
        width: 15rem;
        height: 15rem;
    }
    .icons a {
        font-size: 2rem;
        margin-left: .8rem;
    }
    .about {
        top: 15rem;
    }
    .about-description {
        font-size: 1rem;
    }
    .skills-bar {
        width: 768px;
    }
    .services {
        top: 20rem;
    }
    .services-content {
        padding: 3.5rem 0.5rem 1.25rem;
    }
    .services-icon {
        margin-bottom: 1.5rem;
        font-size: 1.7rem;
    }
    .services-title {
        font-size: 1.4rem;
    }
    .services-subtitle {
        font-size: .9rem;
    }
    .portfolio {
        top: 30rem;
    }
    .portfolio-container {
        margin-top: 5rem;
    }
    .portfolio-content {
        gap: 0;
    }
    .portfolio-image,
    .portfolio-image2 {
        width: 250px;
        height: 170px;
    }
    .portfolio-image2 {
        margin-top: 1rem;
    }
    .portfolio-title {
        font-size: 1.4rem;
    }
    .portfolio-description {
        width: 17.3rem;
        font-size: 1.1rem;
    }
    .swiper-button-prev {
        left: 1rem !important;
    }
    .swiper-button-next {
        right: 1rem !important;
    }
    .contact {
        top: 35rem;
    }
}

@media screen and (max-width: 425px) {
    .home {
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
    }
    .home-data {
        top: 3rem;
    }
    .home-subtitle {
        font-size: 1.4rem;
    }
    .profile {
        margin: 0;
        padding: 4rem;
    }
    .profile-pic img {
        margin-top: 0;
    }
    .section-title {
        font-size: 3rem;
    }
    .section-subtitle {
        font-size: 1rem;
    }
    .skills-bar {
        width: 425px;
    }
    .services-container {
        margin: 0;
        display: grid;
        justify-content: center;
    }
    .services-content {
        padding: 1rem;
    }
    .portfolio-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-container {
        height: 600px;
        margin-top: 0;
    }
    .portfolio-data {
        align-items: center;
        margin-bottom: 4rem;
    }
    .portfolio-title {
        text-align: center;
    }
    .portfolio-description {
        width: auto;
    }
    .portfolio-button {
        margin-left: 5rem;
    }
    .swiper-horizontal > .swiper-pagination-bullets {
        bottom: -3px !important;
    }
    .portfolio-image,
    .portfolio-image2 {
        margin-top: 6rem;
    }
    .contact-form {
        width: 350px;
    }
    .contact-label {
        font-size: 1.5rem;
    }
    .contact-content {
        padding: 3rem 0 0;
    }
}

@media screen and (max-width: 375px) {
    .light {
        background: none;
    }
    .icons a {
        font-size: 2.3rem;
        margin-left: 0.8rem;
    }
    .icons {
        width: 11rem;
    }
    .nav {
        padding: 3rem 0;
    }
    .nav__logo {
        font-size: 1.2rem;
    }
    .profile {
        padding: 3rem;
    }
    .home-data {
        padding: 0;
    }
    .skills-bar {
        width: 375px;
    }
    .contact-form {
        width: 316px;
    }
}

.nav-list.active {
    transform: translateX(0);
    display: flex;
}

/* ================== KEY FRAMES ================== */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}